@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 16px/30px $base-font;
    color: $font-color;
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;

    &:hover {
        color: $main-theme;
    }
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

.wrapper {
    overflow: hidden;
}

section {
    &.dark {
        filter: brightness(.5);
        z-index: 10;
    }
}

[class*="__container"] {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 15;
    display: none;

    &.active {
        display: block;
    }
}
